<%= form_with(model: [:admin, car], local: true, class: 'col-md-8 mb-3') do |f| %>
  <% if car.errors.any? %>
    <%
      errors = car.errors
      is_make_error = errors.messages.key?(:make)
      is_model_error = errors.messages.key?(:model)
      is_year_error = errors.messages.key?(:year)
      is_color_error = errors.messages.key?(:color)
      is_numOfSeats_error = errors.messages.key?(:numOfSeats)
      is_licensePlate_error = errors.messages.key?(:licensePlate)
      is_rentPrice_error = errors.messages.key?(:rentPrice)
    %>
  <% end %>

  <div class="form-row">
    <div class="form-group mb-3">
      <label>Make Name</label>
      <%= f.text_field :make, class: "form-control #{'is-invalid' if is_make_error}" %>
      <% if is_make_error %>
        <div class="text-danger">
          <% errors.messages[:make].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>Model Name</label>
      <%= f.text_field :model, class: "form-control #{'is-invalid' if is_model_error}" %>
      <% if is_model_error %>
        <div class="text-danger">
          <% errors.messages[:model].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>Year</label>
      <%= f.text_field :year, class: "form-control #{'is-invalid' if is_year_error}" %>
      <% if is_year_error %>
        <div class="text-danger">
          <% errors.messages[:year].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>Color</label>
      <%= f.text_field :color, class: "form-control #{'is-invalid' if is_color_error}" %>
      <% if is_color_error %>
        <div class="text-danger">
          <% errors.messages[:color].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>Num of Seats</label>
      <%= f.text_field :numOfSeats, class: "form-control #{'is-invalid' if is_numOfSeats_error}" %>
      <% if is_numOfSeats_error %>
        <div class="text-danger">
          <% errors.messages[:numOfSeats].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>License Plate</label>
      <%= f.text_field :licensePlate, class: "form-control #{'is-invalid' if is_licensePlate_error}" %>
      <% if is_licensePlate_error %>
        <div class="text-danger">
          <% errors.messages[:licensePlate].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group mb-3">
      <label>Rent Price</label>
      <%= f.text_field :rentPrice, class: "form-control #{'is-invalid' if is_rentPrice_error}" %>
      <% if is_rentPrice_error %>
        <div class="text-danger">
          <% errors.messages[:rentPrice].each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Save</button>
<% end %>
